# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/bin/Debug/redisservice.ilk
/build/redisservice.dir/obj/Debug/redisservice.tlog/CL.command.1.tlog
*.tlog
*.log
*.suo
*.sln
*.pdb
*.user
*.ilk
*.db
*.opendb
/build/.vs/redisservice/v15/ipch/AutoPCH/1d800acded623c9b/REDISSERVICE.ipch
/build/.vs/redisservice/v15/ipch/AutoPCH/402942203bad331b/KJREDISCLIENTCONN.ipch

behaviac-modified/projects/gmake/

behaviac-modified/projects/vs2010/

*.idb

*.tmp

behaviac-modified/integration/demo_running/\.vs/

behaviac-modified/integration/demo_running/obj/

*.exp

behaviac-modified/projects/vs2013/\.vs/

behaviac-modified/tools/designer/\.vs/

behaviac-modified/tools/designer/BehaviacDesigner/obj/

behaviac-modified/tools/designer/BehaviacDesignerBase/obj/

behaviac-modified/tools/designer/External/DockPanel/WinFormsUI/obj/

behaviac-modified/tools/designer/Plugins/PluginBehaviacJson/\.vs/

behaviac-modified/tutorials/CsTutorials/\.vs/

behaviac-modified/tutorials/tutorial_1/cs/obj/

behaviac-modified/tools/designer/BehaviacDesigner/Properties/

behaviac-modified/tools/designer/out/

behaviac-modified/tools/designer/Plugins/PluginBehaviac/Properties/

behaviac-modified/tools/designer/BehaviacDesignerBase/Properties/

behaviac-modified/tools/designer/Plugins/PluginBehaviac/obj/

behaviac-modified/tools/designer/Plugins/PluginBehaviacJson/obj/

behaviac-modified/tools/designer/Plugins/PluginBehaviacJson/Properties/

behaviac-modified/tools/designer/External/DockPanel/WinFormsUI/Docking/
